.storeWrapper {
    padding-top: 70px;
    background-color: var(--main-white);
}

.storeContent {
    padding-top: 50px;
}

.storeTitle,
.colorTitle {
    background-image: linear-gradient(to right, rgb(51, 122, 229) 0px, rgb(64, 143, 229) 34%, rgb(212, 115, 74) 71%, rgb(234, 107, 46) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.storeTitle {
    font-size: 80px;

}


/* cardsScrollerContent */

.cardsScrollerContainer {
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding-bottom: 10px;
}

.cardsScrollerContainer {
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.cardsScrollerContainer::-webkit-scrollbar {
    display: none;
}

