.footerContainer {
    background-color: var(--main-white);
}

.apple-footer {
  background: #f5f5f7;
  padding: 15px 0;
  font-family: sans-serif;
  text-align: start;
}

.footer-hr {
    width: 89%;
}

.footer-container {
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}

.footer-column h4 {
  font-size: 14px;
  margin-bottom: 12px;
  font-weight: 600;
  color: #1d1d1f;
}

.footer-column a {
  display: block;
  text-decoration: none;
  color: var(--footer-text);
  font-size: 12px;
  margin-bottom: 8px;
}

.footer-column a:hover {
  text-decoration: underline;
}

/* --- Responsive --- */

/* Tablet */
@media (max-width: 992px) {
  .footer-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Mobile */
@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-column {
    margin-bottom: 30px;
  }
}
