.App { 
  text-align: center;
}

.sidebar {
  position: fixed;
  top: -300px;
  width: 100%;
  height: 300px;
  background: var(--white);
  z-index: 1000;
  padding: 80px 20px 20px 20px;
  opacity: 0;
  transform: scale(0.95);
  transition: top 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
}

.sidebar.active {
  top: 0;
  opacity: 1;
  transform: scale(1);
}
