@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

:root {
    --main-white: #F3F3F5;
    
}

body {
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}
